<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.TwitterSignature</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.TwitterSignature/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
      <string>PSGroupCell</string>
			<key>label</key>
			<string>Signature</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.neinzedd9.TwitterSignature</string>
			<key>default</key>
			<string>\n@ladygaga Favorite Female Artist Pop/Rock #AMAs</string>
			<key>key</key>
			<string>signature</string>
			<key>placeholder</key>
			<string>\n@ladygaga Favorite Female Artist Pop/Rock #AMAs</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>PostNotification</key>
    	<string>com.neinzedd9.TwitterSignature/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>updateSignature</string>
			<key>label</key>
			<string>Update Signature</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.TwitterSignature/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Twitter Signature Preferences</string>
</dict>
</plist>
